<footer class="fixed inset-x-0 bottom-0 flex justify-center px-4 text-gray-800 bg-white dark:text-white dark:bg-gray-900">
        <hr class="h-px bg-gray-200 border-none my-7 dark:bg-gray-700">

        <div class="flex flex-col items-center justify-between md:flex-row">
            <a href="{{ path('app_main')}}">
                <img class="w-auto h-7 mr-5" src="{{ asset('assets/images/logo.png')}}" alt="logo">
            </a>

            <div class="flex mt-4 md:m-0">
                <div class="-mx-4">
                    <a href="#" class="px-4 text-sm text-gray-600 transition-colors duration-300 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400 hover:underline">About</a>
                    <a href="#" class="px-4 text-sm text-gray-600 transition-colors duration-300 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400 hover:underline">Blog</a>
                    <a href="#" class="px-4 text-sm text-gray-600 transition-colors duration-300 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400 hover:underline">News</a>
                    <a href="#" class="px-4 text-sm text-gray-600 transition-colors duration-300 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400 hover:underline">Contact</a>
                </div>
            </div>
        </div>
    
</footer>